@switch (name()) {
    @case ('edit') {
        <svg data-p-icon="pencil"></svg>
    }
    @case ('delete') {
        <svg data-p-icon="trash"></svg>
    }
    @case ('stage') {
        <svg data-p-icon="arrow-up"></svg>
    }
    @case ('unstage') {
        <svg data-p-icon="arrow-down"></svg>
    }
    @case ('changed') {
        <svg data-p-icon="info-circle"></svg>
    }
    @case ('new') {
        <svg data-p-icon="plus"></svg>
    }
    @case ('conflict') {
        <svg data-p-icon="exclamation-triangle"></svg>
    }
}
